/* .matched{
  position:absolute;
  background-color: rgba(0,250,0,.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index:10;
} */

.card-img {
  transition: transform 1s;
  transform-style: preserve-3d;
  z-index:-1
}
.flipped-card:hover{
  border:4px solid rgba(185, 0, 0, 0.849);
  box-sizing:border-box;
  border-radius:3px;
    transition-timing-function: ease-in-out;

  /* Quick on the way out */
  transition: 0.4s;
}


.incorrect {
  animation:wiggle .4s ease;
  animation-iteration-count: 1;
  animation-delay: 1000ms;
}

@keyframes wiggle {
  20%  { transform: translateX(4px);  }
  40%  { transform: translateX(-4px); }
  60%  { transform: translateX(2px);  }
  80%  { transform: translateX(-1px); }
  100% { transform: translateX(0);    }
}

hr{
  border:2px solid white;
}
.deal {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.flip {
	-webkit-animation: flip-vertical-left 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-left 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

 
@-webkit-keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);

  }
}


